body{
  background: #FAF9F8;
  padding: 16px;
}

.preloader-wrapper-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.tabs {
  height: 100%;
}


.story-container {
  height: 170px;
  /*border: 1px solid #9E8B95;*/
  width:250px;
  margin-top: 16px;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}


.story-container a {
  text-decoration: none;
  color: #5C5585;
  /*background: #F1F7F9;*/
}


.story-container a:visited {
  color: #ADAEC9;
  /*background: #F1F7F9;*/
}


.location-container,
.section-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}



#stories-container-axios,
.location-stories-container,
#national-stories-container,
.section-stories-container,
.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.footer {
  min-height: 400px;
}


#scroll-container-axios,
.scrollspy-section {
  position: fixed;
  right: 40px;
}


#settings-button {
  position: fixed;
  bottom: 50px;
  right: 30px;
}


#settings-container.tap-target {
  border-radius: 20%;
}


@media only screen and (min-width: 993px) {
  #main-container {
    width: 85%;
  }
}




/* google fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v121/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}